<h3>Welcome to Dashboard</h3>

<p>Full Name : <%= @user.first_name %> <%= @user.last_name %></p>
<%= image_tag @user.profile_photo.variant(resize_to_limit: [250, 200]) %>

<p>Currently You have total <%= @user.posts.count %> posts.</p>
<%= link_to "All Posts", posts_path, class: "all-post" %>
<%= link_to "Update Profile", edit_user_registration_path %>
<div id="posts">
  <% @user.posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>
