<div id="<%= dom_id post %>">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Image</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td>
          <%= image_tag(post.post_photo.url, class: "post-photo") if post.post_photo? %>
          <%= image_tag('http://placehold.jp/250x250.png', class: "post-photo") if !post.post_photo? %>
        </td>
        <td><%= post.user.username %></td> 
      </tr>
    </tbody>
  </table>
</div>